/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-abr-2019, 19:09:14
    Author     : Usuario
*/

.fondo{
    
    -fx-background-image: url(../images/fondo.jpg)
}

.tab{
    -fx-background-color: aquamarine;
    -fx-background-inssets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 10 0 0 0;
    -fx-border-color: blueviolet;
}

.tab:selected{
   -fx-background-color: brown;
   -fx-background-radiu: 0;
   -fx-background-insets: 0;
   -fx-border-width: 10 0 0 0;
   -fx-border-color: black;
}
/*
.tab:focused {
    -fx-focus-color: transparent;
} */

.tab-pane *.tab-header-background{
    -fx-background-color: transparent;
        
}

.tab-pane:right *.tab-header-area{
    -fx-background-insets: 0 0 0 10;
    -fx-padding: 2.0em 0.0em 0.0em 0.0em;    
}

.button {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-background-radius: 50%;
    -fx-border-stly: solid;
    -fx-border-radius: 50%;
    -fx-border-color: white;
}
.button:hover{
    -fx-text-fill: white;
    -fx-background-color: #666666;
}


